/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/database/migrations
/app/Chapter.php
/app/Course.php
/app/Lesson.php
/app/Mentor.php
/app/User.php

